img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.kanban__task {
  width: 100%;
  min-height: 60px;
  background-color: #456C86;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.7);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  font-family: 'Open Sans', serif;
  font-size: 13px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.kanban__task-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kanban__task-title {
  flex: 0 1 85%;
  padding-right: 5px;
  padding-bottom: 0;
  line-height: 20px;
  user-select: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.kanban__task-avatar {
  flex: 0 1 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanban__task-footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: inherit;
  padding-top: 10px;
}

.kanban__task-id,
.kanban__task-date {
  opacity: 0.3;
}

.kanban__task-id span:nth-child(1) {
  font-weight: 600;
}

.kanban__task-type {
  width: 90px;
  text-align: center;
  background-color: orange;
  color: #fff;
  border-radius: 2px;
  padding: 0 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

