/* колонка под карточками задач, в пределах которой возможен dnd */
.kanban__col-drop {
  padding: 10px;
  width: 100%;
  min-height: 72vh;
}

/* сокрытие кнопки "Создать +" в других столбцах */
.kanban__col-drop:not([data-rbd-droppable-id="0"]) .kanban__create {
  display: none;
}